AUTH_SECRET=
NEXTAUTH_URL=https://your-vercel-domain.vercel.app
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
DATABASE_URL=postgresql://user:password@ep-example-pooler.region.aws.neon.tech/dbname?sslmode=require
TOKEN_ENCRYPTION_SECRET=
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL_KEY=
