AUTH_SECRET=
NEXTAUTH_URL=http://your-server-ip:3333
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
DATABASE_URL=postgres://starlens:change-me@1Panel-postgresql-xIiE:5432/starlens
TOKEN_ENCRYPTION_SECRET=
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL_KEY=
